body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1{
    font-size: 40px;
}
.top-banner{
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #F7F7F7;
    padding-top: 100px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 3px;
}
.top-banner-texts{
    margin-top: 50px;
    margin-bottom: 200px;
    padding-top: 20px;
}
.amount-selection{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.all-amounts{
    display: flex;
    margin: 80px 50px 50px 100px;
}
.amounts{ 
    color: gray;
    font-weight: 900;
    background-image: linear-gradient(#f3f3f3, #f3f3f3);
    margin-left: 4%;
    margin-right: 4%;
    padding: 50px 50px;
    border-radius: 5px;
}
.middle{
    background-image: linear-gradient(#ffb2b2, #ffb2b2);
    border: solid #ff3d3d;
}
.forms{
    margin-bottom: 50px;
    font-size: 20px;
    width: 60%;
    text-align: center;
    border: none;
    border-bottom: 3px solid rgb(224, 224, 224);
}
.donate-plans{
    margin-top: 20px;
    margin-bottom: 150px;
}
.go-middle{
    text-align: center;
    padding-bottom: 30px;
}
.plans{
    display: flex;
    margin: 2px 100px 5px 100px;
}
.specific-plan{
    height: 300px;
    width: 40%;
    margin-left: 5px;
    margin-right: 5%;
    padding: 30px;
}
.food{
    background-image: linear-gradient(#F5F0BB, #F5F0BB);
}
.shelter{
    background-image: linear-gradient(#C4DFAA, #C4DFAA);
}
.education{
    background-image: linear-gradient(#90C8AC, #90C8AC);
}
footer{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: linear-gradient(#191919, #191919);
    font-family: 'Noto Sans', sans-serif;

}
footer h3{
    font-size: 30px;
    color: #C84B31;
}
footer p{
    color: #ECDBBA;
}
